.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.starRating {
  display: flex;
  gap: 1px;
  align-items: center;
  padding-top: 2px;
}

.starButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d1d5db;
  transition: transform 0.1s;
  line-height: 0;
}

.starButton:active {
  transform: scale(1.1);
}

.starFilled {
  color: #fbbf24;
}

.starEmpty {
  color: #e5e7eb;
}