:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-primary: #f3f4f6;
  --bg-card: #f3f4f6;
  --bg-element: #ffffff;
  --bg-modal: #ffffff;
  --text-primary: #1f2937;
  --text-secondary: #4b5563;
  --text-placeholder: #9ca3af;
  --border-card: #1f2937;
  --border-element: #d1d5db;
  --border-divider: #b9b9b9;
  --shadow-color: rgba(0, 0, 0, 0.05);
  --header-text: #1f2937;
  --btn-rose-bg: #f3f4f6;
}

[data-theme='dark'] {
  --bg-primary: #111827;
  --bg-card: #1f2937;
  --bg-element: #374151;
  --bg-modal: #1f2937;
  --text-primary: #f9fafb;
  --text-secondary: #d1d5db;
  --text-placeholder: #9ca3af;
  --border-card: #4b5563;
  --border-element: #4b5563;
  --border-divider: #4b5563;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --header-text: #f9fafb;
  --btn-rose-bg: #1f2937;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
}

#root {
  min-height: 100vh;
}